*{
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
}

body{
    min-width: 980px;
    position: relative;
    min-height: 100vh;
}

header{
    background-color: #7890cd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 100vw;
}


header>img, header>a>img{
    margin: 5mm;
    width: 242px;
    height: 92px;
}

nav{
    display: flex;
    margin-right: 5vw;
}

nav>div>div>*{
    color: white;
}

#menuPC {
    display: flex;
    flex-direction: row;
}

#menuPC>div{
    margin: 20px;
}

.burger-hidden{
    display: none;
}

#menuPortable > div {
    margin: 2px 0 0 0;
    background-color: #7890cd;
}


#menuPortable > div > a {
    display: block;
    width: 100vw;
    text-align: center;
    color: white;
}

#menuPortable > div :active{
    background-color: #3a4663;
}

.menuPortable{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuPortable>div>a{
    font-size: 32px;
}

nav>div{
    margin: 20px;
}

a{
    text-decoration: none;
    font-size: x-large;
}

main{
    padding-bottom: 100px;
}

footer{
    position: absolute;
    bottom: -100px;
    background-color: #2a3990;
    height: 100px;
    width: 100%;
    display: flex;
}

.reseaux{
    margin: auto;
    background-color: white;
    width: min-content;
    display: flex;
    justify-content: center;
}

.reseaux > a > img{
    width: 40px;
    height: 40px;
    margin: 5px 5px 0px 5px;
}

/* ----------------------------- Style Edito ----------------------------- */

.accueil{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
}

.div-image{
    width: 100%;
    display: flex;
    justify-content: center;
}

.accueil, .edito{
    width: 100vw;
}

.image-accueil{
    width: 830px;
    height: 554px;
    margin: auto;
    margin: 10px;
}

.edito{
    background-color: #2a3990;
    width: 45%;
    margin: 10px;
}

.image-edito{
    margin: auto;
    margin-top: 10px;
    width: 480px;
    height: 480px;
}

.texte-edito {
    margin: 20px;
    color: white;
    overflow-wrap: normal;
    font-size: 28px;
}

.btn-edito{
    margin: auto;
    background-color: #7890cd;
    width: 40vw;
    padding: 7px 10px;
    font-size: 24px;
    margin-top: 10px;
    display: block;
    height: fit-content;
    min-width: 150px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 5px;
}

.dernieres-recettes{
    color: #7890cd;
    background-color: white;
    border: #2a3990 solid 2px;
}

.dernieres-recettes > *{
    font-size: 28px;
    margin: 10px;
}

.dernieres-recettes > h1{
    color: #2a3990;
    font-weight: bold;
    text-align: center;
}

.dernieres-recettes > div{
    border: #7890cd solid 3px;
    display: flex;
    align-items: center
}

.dernieres-recettes > div > img{
    margin: 10px;
    width: 250px;
    height: 150px;
}


/* ----------------------------- Style Filtres ----------------------------- */

.filtre-container{
    display: flex;
    border-bottom: #999999 1px solid;
}

.modal-btn{
    padding: 10px 14px;
    font-size: 24px;
    margin: 50px auto;
    display: block;
    min-width: 150px;
    cursor: pointer;
    background-color: #2a3990;
    color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 5px;
}

.modal-container{
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: visibility 0.4s;    
}

.modal-container.active{
    visibility: visible;
}

.overlay{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333333d3;
    transition: opacity 0.4s 0.2s ease-out;
}

.modal-container.active .overlay{
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.modal{
    margin-top: 50px;
    opacity: 0;
    width: 95%;
    max-width: 500px;
    min-width: 300px;
    padding: 30px;
    position: absolute;
    border-radius: 10px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2a3990;
    color: white;
    font-size: 24px;
    transition: opacity 0.4s ease-out;
}

.modal-container.active .modal{
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.valider{
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #7890cd;
    color: white;
    font-size: 24px;
}

.close-modal{
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #ff365e;
    color: #fff;
}

.modal h1{
    margin-bottom: 10px;
    font-weight: 500;
}

.list-ingredient{
    overflow: auto;
    max-height:50vh;
}

.check{
    margin: 5px;
}

/* ----------------------------- Style Carte Recettes ----------------------------- */

.carte-recette{
    width: 60vw;
    height: 40vh;
    margin: auto;
    margin-top: 5vh;
    padding: 10px;
    border: #7890cd 3px solid;
    border-radius: 10px;
    color: #7890cd;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.image-recette {
    height: 100%;
}

.image-recette > a > img{
    height: auto;
    max-width: 200px;
}

.info-recette{
    width: 370px;
    height: max-content;
    margin: 20px;
}

.titre-recette{
    max-width: 300px;
    overflow: auto;
}

.titre-recette>a{
    font-family: "Permanent Marker";
    color: #2a3990;
    display: block;
    
}

.tags{
    height: min-content;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.tag{
    background-color: #7890cd;
    border-radius: 10px;
    color: white;
    padding: 10px 40px;
    margin: 10px;
}

/* --------------------------- Style Nos Recette -------------------------- */

.liste-recette{
    border: #2a3990 solid 2px;
    color: #2a3990;
    border-collapse: collapse;
    margin: auto;
}

.recette>td{
    border: #2a3990 solid 2px;
    height: 200px;
}

/* ----------------------------- Style Recette ---------------------------- */

.ajout{
    margin-left: 2vw;
    max-height: 56px;
    width: 100%;
}



/* ----------------------------- Style Connexion -------------------------- */

.connexion{
    margin: 5vh auto;
    width: 55vw;
    color: white;
    text-align: center;
}

.connect-p1{
    background-color: #2a3990;
    padding: 10px 0 10px 0;
    border-radius: 10px 10px 0 0;
    font-size: x-large;
    font-weight: normal;
}

.connect-p2{
    background-color: #7890cd;    
    padding: 10px 0 10px 0;
    border-radius: 0 0 10px 10px;
    font-size: x-large;
}

.btn-container{
    height: 60px;
}

.btn-container{
    height: 60px;
}

.btn{
    padding: 7px 10px;
    font-size: 24px;
    margin-top: 10px;
    display: block;
    height: auto;
    min-width: 150px;
    width: 15vw;
    cursor: pointer;
    background-color: #2a3990;
    color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 5px;
}

.btn>a{
    color: white;
}

.btns{
    display: flex;
    margin: auto;
    width: fit-content;
    gap: 10px;
    flex-direction: column;
}

.link{
    padding: 3px 5px;
    font-size: 18px;
    margin-top: 10px;
    display: block;
    height: fit-content;
    min-width: 125px;
    cursor: pointer;
    background-color: #2a3990;
    color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 5px;
}

.link>a{
    color: white;
}

.btn-ajout{
    margin: auto;
    width: 22vw;
}


/*----------------------------- RESPONSIVE : TELEPHONE ------------------------*/

@media screen and (max-width : 767px){

    header > img, header>a>img {
        width: 182px;
        height: 69px;
    }

    #burger {
        flex-direction: column;
        cursor: pointer;
        padding: 15px;
    }
    
    .bar {
        width: 45px;
        height: 7px;
        background-color: #fff;
        margin: 6px 0;
        border-radius: 50px;
    }

    html, body , body > *{
        max-width: 100vw;
        min-width: 100vw;
    }

    #menuPC{
        display: none;
    }

    

    /* -------------------Style Edito------------------- */

    .accueil{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-accueil, .image-accueil>img{
        width: 100vw;
        height: auto;
    }

    .accueil, .edito{
        width: 100vw;
    }

    .image-edito, .image-edito>img{
        width: 80vw;
        height: 80vw;
    }

    .edito{
        margin-left: 0;
        margin-right: 0;
    }

    .dernieres-recettes > div{
        height: 360px;
    }

    .recette-acceuil{
        overflow: auto;
        max-height: 350px;
    }

/* -------------------Style Connexion------------------- */
    .connexion{
        width: 70vw;
    }
    
    .btn, .btn>a{
        font-size: 18px;
    }

/* -------------------Style Filtre------------------- */
    .filtre-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .modal-btn{
        margin: 25px auto;
    }

    .image_daccueil{
        margin: auto;
    }

    .modal{
        width: 50vw;
    }

/* -------------------Style Recette------------------- */
    .carte-recette{
        height: 60vh;
    }

    .image-recette {
        height: auto;
    }
}