*{
    margin: 0;
    padding: 0;
}

body{
    min-width: 980px;
    position: relative;
    min-height: 100vh;
}

header{
    background-color: #7890cd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 980px;
}

header>img{
    margin: 5mm;
    width: 242px;
    height: 92px;
}

nav{
    font-family: 'Pacifico', cursive;
    display: flex;
}

nav>div{
    margin: 20px;
}

a{
    text-decoration: none;
    color: white;
    font-size: x-large;
}

footer{
    position: absolute;
    bottom: 0;
    background-color: #2a3990;
    height: 100px;
    width: 100%;
    display: flex;
}

.reseaux{
    margin: auto;
    background-color: white;
    width: min-content;
    display: flex;
    justify-content: center;
}

.reseaux > a > img{
    width: 40px;
    height: 40px;
    margin: 5px 5px 0px 5px;
}

/* ----------------------------- Style Edito ----------------------------- */

.accueil{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
}

.div-image{
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-accueil{
    width: 830px;
    height: 554px;
    margin: auto;
    margin: 10px;
}

.edito{
    background-color: #2a3990;
    width: 45%;
    margin: 10px;
}

.image-edito{
    margin: auto;
    margin-top: 10px;
    width: 480px;
    height: 480px;
}

.texte-edito {
    margin: 20px;
    font-family: "Pacifico";
    color: white;
    overflow-wrap: normal;
    font-size: 28px;
}

.dernieres-recettes{
    font-family: "Pacifico";
    color: #7890cd;
    background-color: white;
    border: #2a3990 solid 2px;
}

.dernieres-recettes > *{
    font-size: 28px;
    margin: 10px;
}

.dernieres-recettes > h1{
    color: #2a3990;
    font-weight: bold;
    text-align: center;
}

.dernieres-recettes > div{
    border: #7890cd solid 3px;
    display: flex;
    align-items: center
}

.dernieres-recettes > div > img{
    margin: 10px;
    width: 250px;
    height: 150px;
}


/* ----------------------------- Style Filtres ----------------------------- */

.filtre-container{
    display: flex;
    border-bottom: #999999 1px solid;
}

.modal-btn{
    padding: 10px 14px;
    font-size: 24px;
    margin: 50px auto;
    display: block;
    min-width: 150px;
    cursor: pointer;
    background-color: #2a3990;
    font-family: "Pacifico";
    color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 5px;
}

.modal-container{
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: visibility 0.4s;    
}

.modal-container.active{
    visibility: visible;
}

.overlay{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333333d3;
    transition: opacity 0.4s 0.2s ease-out;
}

.modal-container.active .overlay{
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.modal{
    opacity: 0;
    width: 95%;
    max-width: 500px;
    min-width: 300px;
    padding: 30px;
    position: absolute;
    border-radius: 10px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2a3990;
    font-family: "Pacifico";
    color: white;
    font-size: 24px;
    transition: opacity 0.4s ease-out;
}

.modal-container.active .modal{
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.valider{
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #7890cd;
    font-family: "Pacifico";
    color: white;
    font-size: 24px;
}

.close-modal{
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #ff365e;
    color: #fff;
}

.modal h1{
    margin-bottom: 10px;
    font-weight: 500;
}

/* ----------------------------- Style Carte Recettes ----------------------------- */

.recette{
    width: 60vw;
    height: 40vh;
    margin: auto;
    margin-top: 10vh;
    padding: 10px;
    border: #7890cd 3px solid;
    border-radius: 10px;
    color: #7890cd;
    font-family: "Pacifico";
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.image-recette > img{
    width: 375px;
    height: 225px;
}

.info-recette{
    width: 370px;
    height: max-content;
    margin: 20px;
}

.titre-recette{
    font-family: "Permanent Marker";
}

.tags{
    width: 345px;
    height: max-content;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.tag{
    background-color: #7890cd;
    border-radius: 10px;
    color: white;
    padding: 10px 40px;
    margin: 10px;
}

/* ----------------------------- Style Recettes ----------------------------- */



/* ----------------------------- Style Connexion ----------------------------- */

.connexion{
    margin: 5vh auto;
    width: 500px;
    font-family: "Pacifico";
    color: white;
    text-align: center;
}

.connect-p1{
    background-color: #2a3990;
    width: 500px;
    padding: 10px 0 10px 0;
    border-radius: 10px 10px 0 0;
    font-size: x-large;
    font-weight: normal;
}

.connect-p2{
    background-color: #7890cd;    
    width: 500px;
    padding: 10px 0 10px 0;
    border-radius: 0 0 10px 10px;
    font-size: larger;
}

.btn-container{
    height: 60px;
}

.btn{
    padding: 7px 10px;
    font-size: 24px;
    margin-top: 10px;
    display: block;
    height: fit-content;
    min-width: 150px;
    width: 15vw;
    cursor: pointer;
    background-color: #2a3990;
    font-family: "Pacifico";
    color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 5px;
}

.btns{
    display: flex;
    margin: auto;
    width: fit-content;
    gap: 10px;
    flex-direction: column;
}

.link{
    padding: 3px 5px;
    font-size: 18px;
    margin-top: 10px;
    display: block;
    height: fit-content;
    min-width: 125px;
    cursor: pointer;
    background-color: #2a3990;
    font-family: "Pacifico";
    color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 5px;
}

/* .input{
    display: flex;
} */


/*----------------------------- RESPONSIVE : TELEPHONE ------------------------*/

@media screen and (max-width : 480px){

}